<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>System Monitor</title>
    <style>
      .container {
        width: 1000px;
        padding: 16px;
        margin: 16px;
        border: 1px solid #b9b9b9;
        border-radius: 8px;
      }
      #control-date {
        height: 50px;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      svg > g > g:last-child {
        pointer-events: none;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  </head>
  <body>
    <select id="timerange" onchange="drawChart()">
      <option value="1">Last hour</option>
      <option value="6">Last 6 hours</option>
      <option value="12">Last 12 hours</option>
    </select>
    <button onclick="drawChart()">Refresh</button>
    <div id="dashboard" class="container">
      <div id="chart"></div>
      <div id="control-date"></div>
    </div>
    <div id="pie-chart" class="container"></div>
  </body>
  <script type="text/javascript">
    google.charts.load('current', {
      callback: function () {
        drawChart();
      },
      packages: ['controls', 'corechart']
    });

    function drawChart() {
      $.ajax({
        url: 'api/stat/' + document.getElementById('timerange').value,
        type: 'GET',
        contentType: 'application/json',
        success: function (stats) {
          var stats_len = stats.length;
          var area_chart_data = new google.visualization.DataTable();
          area_chart_data.addColumn('datetime', 'TimeStamp');
          area_chart_data.addColumn('number', 'CPU');
          area_chart_data.addColumn('number', 'RAM');

          var startDate = new Date(stats[0].created_at);
          var endDate = new Date(stats[stats_len - 1].created_at);

          $.each(stats, function (index, stat) {
            area_chart_data.addRow([
              new Date(stat.created_at),
              stat.cpu / 100,
              stat.memory / 100
            ]);
          });

          var chart = new google.visualization.ChartWrapper({
            chartType: 'SteppedAreaChart',
            containerId: 'chart',
            options: {
              title: 'USAGE',
              vAxis: {
                format: '#%',
                viewWindow: { min: 0, max: 1 }
              },
              focusTarget: 'category'
            }
          });

          var controlDate = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'control-date',
            options: {
              filterColumnLabel: 'TimeStamp',
              ui: {
                chartOptions: {
                  chartArea: {
                    width: '80%'
                  },
                  hAxis: {
                    format: 'dd MMM YYYY'
                  }
                }
              }
            }
          });

          var dash = new google.visualization.Dashboard(
            document.getElementById('dashboard')
          );
          dash.bind([controlDate], [chart]);
          dash.draw(area_chart_data);

          var pie_data = new google.visualization.DataTable();
          pie_data.addColumn('string', 'Topping');
          pie_data.addColumn('number', 'Slices');
          pie_data.addRows([
            ['Used', stats[stats_len - 1].disk_used],
            ['Available', stats[stats_len - 1].disk_available]
          ]);

          var formatNumber = new google.visualization.NumberFormat({
            suffix: ' bytes',
            fractionDigits: 0
          });
          formatNumber.format(pie_data, 1);

          var pie_options = {
            title: 'DISK USAGE',
            tooltip: {
              text: 'value'
            }
          };

          var pie_chart = new google.visualization.PieChart(
            document.getElementById('pie-chart')
          );
          pie_chart.draw(pie_data, pie_options);
        }
      });
    }
  </script>
</html>
